* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.topHeader {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  background-color: white;
}

.page-wrapper {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.columnA {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 360px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.columnB {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 100%;
  overflow-y: scroll;
  min-width: 390px;

  margin: 30px 0;
  border-left: 2px solid rgb(156, 156, 156);
}

h1 {
  text-align: center;
  font-size: 2.9rem;
  font-family: 'Inconsolata', monospace;
  margin: 12px 0;
  padding: 15px 0;
}

.minispace {
  font-size: 1.1rem;
}
.bracket {
  font-size: 3.5rem;
}

.headshot {
  max-height: 100px;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 0 9px 0 6px;
}
.headline {
  margin: 12px 9px;
}

.headline h3 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 800;
  margin-right: 6px;  
}

.nav {
  margin-top: 15px;
}

ul {
  padding: 0;
  margin: 15px;
}

.nav li {
  margin: 0 9px;
  padding: 21px 0;
  text-align: center;
  font-size: 1.3rem;
  list-style-type: none;
  border-top: 1px solid grey;
}

.right-container {
  background-color: white;
}

.bio,
.skills,
.gallery,
.connect {
  margin: 15px 30px 12px 30px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4rem;
  padding-bottom: 24px;
  border-bottom: 1px solid grey;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.9rem;
  line-height: 1.1rem;
  margin: 6px 0 21px 0;
}

.toolList {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 8vw;
}

.toolList ul {
  list-style-position: inside; 
}

.project {
  margin: 60px 0;
  padding: 0 12px;
  border: 11px solid rgb(228, 236, 240);
  border-radius: 9px;
  box-shadow: 6px 9px 18px #888888;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.3rem;
}

.project h4 {
  font-size: 1.4rem;
  font-style: italic;
  margin: 15px 0;
}

.project p {
  margin-top: 0;
}

.clearfix {
  overflow: auto;
  padding-bottom: 9px;
}

.galleryPic {
  max-height: 200px;
  border-radius: 3px;
  float: right;
}

.projectLinks {
  margin: 30px 0 15px 0;
}

.project a {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-decoration: none;
  background-color: rgb(226, 239, 245);
  border-radius: 3px;
  padding: 6px 9px;
  margin: 0 9px;
}

.project a:hover {
  border: 2px solid rgb(119, 142, 175);
}

.connect p {
  text-align: center;
  margin-bottom: 90px;
}

.connect span {
  display: inline-block;
  margin: 0 2vw;
  padding: 3px;
}

.connect span:hover {
  background-color: lightgray;
}

.connect img {
  max-height: 50px;
}

footer {
  z-index: 2;
  height: 36px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  font-size: .8em;
  text-align: center;
  padding-top: 9px;
  color: rgb(68, 68, 68);
}