* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
}

.topHeader {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 0;
  z-index: 2;
  text-align: center;
  background-color: white;
}
.page-wrapper {
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  overflow-y: scroll;
}
.columnA {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  min-width: 304px;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}
.columnB {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
  height: 100%;
  min-width: 304px;
  padding-top: 12px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Inconsolata', monospace;
  margin: 12px;
  padding: 6px 0;
}
h1:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 2px 4px #888888;
}
h1:active {
  background-color: rgb(211, 211, 211);
}
.minispace {
  font-size: 0.9rem;
}
.bracket {
  font-size: 3.1rem;
}

.headshot {
  max-height: 90px;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 0 9px;
  transition: transform 500ms ease-out;
}
.headshot:hover {
  transform: rotate(30deg); 
  transition: transform 300ms ease-in;
}
.headline {
  margin: 12px 0;
}
.headline h3 {
  font-size: 1rem;
  line-height: 1.3rem;
  font-family: 'Inconsolata', monospace;
  font-weight: 600;
  margin: 0;
  padding-right: 12px;
}

#mainNav {
  padding: 0;
  margin: 15px 0px;
  text-align: center;
}
.nav li {
  display: inline;
  margin: 0 -2px;
  padding: 6px 2%;
  font-size: 0.8rem;
  font-weight: 500;
  list-style-type: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.nav li:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 2px 4px #888888;
}
.nav li:active {
  background-color: rgb(211, 211, 211);
}

#welcome,
#bio,
#skills,
#gallery,
#connect {
  margin: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin-bottom: 66px;
}
.welcome {
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  animation: slide-down 2s;
  margin-top: 3vh;
}
@keyframes slide-down {
  from { margin-top: -15vh; }
  to   { margin-top: 3vh; }
}
.toPortfolio {
  font-size: 2.7rem;
  line-height: 3.6rem;
  font-weight: 600;
  text-align: center;
  animation: fadein 7s;
}
@keyframes fadein {
  from { opacity: 0; color: white; }
  to   { opacity: 1; color: black; }
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 9vh;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 3px;
  box-shadow: 0px 4px 6px #888888;
}
.circle:active {
  animation-duration: 2s;
  animation-name: bounce; 
  transition: all .2s ease-in;
  box-shadow: 0px 0px 4px #fdfcfc;
}
 @keyframes bounce { 
  0%, 30%, 50%, 70%, 90%, 100% {transform: translateY(0);} 
  10% {transform: translateY(-45px);}
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
  80% {transform: translateY(-5px);} 
} 
.c0 {
  @extend .circle;
  background: rgb(252, 83, 83);
  background-image: linear-gradient(rgb(255, 174, 165),rgb(250, 82, 63));
} 
.c1 {
  @extend .circle;
  background: rgb(143, 253, 32);
  background-image: linear-gradient(rgb(183, 253, 112),rgb(103, 206, 0));
}
.c2 {
   @extend .circle;
  background: rgb(3, 236, 236);
  background-image: linear-gradient(rgb(152, 255, 255),rgb(1, 211, 211));
}
.c3 {
  @extend .circle;
  background: yellow;
  background-image: linear-gradient(rgb(252, 252, 115),rgb(214, 214, 1));
}
.c4 {
  @extend .circle;
  background: fuchsia;
  background-image: linear-gradient(rgb(253, 122, 253),fuchsia);
}
.c5 {
  @extend .circle;
  background: rgb(250, 163, 32);
  background-image: linear-gradient(rgb(253, 204, 114),darkorange);
}
.c6 {
  @extend .circle;
  background: lime;
  background-image: linear-gradient(lightgreen,green);
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-size: 1.6rem;
  line-height: 1.1rem;
  margin: 6px 0 18px 0;
}
#bio p {
  padding-left: 0px;
  padding-right: 0px;
}
.smile {
  text-align: right;
  font-size: 2.5rem;
  margin: 20px 0;
}

#skills li {
  font-size: 1rem;
  line-height: 1.7rem;
}
.toolList {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 5vw;
}
.toolList ul {
  list-style-position: inside; 
}

.project {
  margin: 40px 0;
  padding: 0 6px;
  border: 11px solid rgb(228, 236, 240);
  border-radius: 9px;
  box-shadow: 6px 9px 18px #888888;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.project h4 {
  font-size: 1.4rem;
  font-style: italic;
  margin: 15px 0;
}
.project p {
  margin-top: 0;
}
.clearfix {
  overflow: auto;
  padding-bottom: 9px;
}
.galleryPic {
  max-height: 150px;
  border-radius: 3px;
  float: right;
  margin-bottom: 6px;
}
.projectLinks {
  margin: 24px 0 15px 0;
}
.project a {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  text-decoration: none;
  background-color: rgb(226, 239, 245);
  border: 2px dotted rgb(175, 175, 175);
  border-radius: 3px;
  box-shadow: 1px 2px 4px #b3b3b3;
  padding: 6px 12px;
  margin-right: 4px;
}
.project a:hover {
  border: 2px solid rgb(119, 142, 175);
}
.project a:active {
  color: white;
  background-color: rgb(165, 202, 218);
}

.contactList {
  margin-top: 40px;
  padding-left: 18px;
}
.contactList p {
  margin-top: 36px;
  font-size: 1.1rem;
  width: 280px;
  padding-left: 9px;
}
.contactList img {
  max-height: 30px;
  vertical-align: middle;
  margin: 3px 9px;
}
.contactList a {
  text-decoration: none;
  color: black;
}
.smIcon {
  font-size: 1.7rem;
  font-weight: 700;
}
.contactLink:hover {
  box-shadow: 1px 2px 4px #888888;
}

.fun {
  margin-top: 75px;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
}
.spin {
  display: inline-block;
  text-align: center;
  color: lightgray;
  padding: 0 0.2vw;
}
.spin:hover {
  transform: rotate(180deg);
  color: black;
}

footer {
  z-index: 2;
  height: 36px;
  width: 100%;
  margin-left: -9px;
  background-color: white;
  position: fixed;
  bottom: 0;
  font-size: .8em;
  text-align: center;
  padding-top: 9px;
  color: rgb(68, 68, 68);
  box-shadow: 0px -1px 6px #e0e0e0;
}


@media only screen and (min-width: 450px){
  .columnA {
    min-width: 360px;
    max-width: 660px;
  }
  .columnB {
    min-width: 465px;
    padding-top: 30px;
  }
  h1 {
    font-size: 2.9rem;
    margin: 12px;
    padding: 6px 0;
  }
  .minispace {
    font-size: 1.1rem;
  }
  .bracket {
    font-size: 3.5rem;
  }
  .headshot {
    max-height: 100px;
    margin: 0 9px 0 6px;
  }
  .headline {
    margin: 12px 9px;
  }
  .headline h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-right: 6px;
    margin-bottom: 3px; 
    padding: 0;
  }
  #mainNav {
    margin: 15px 9px;
  }
  .nav li {
    padding: 6px 2%;
    font-size: 1.1rem;
  }  
  #welcome,
  #bio,
  #skills,
  #gallery,
  #connect {
    margin: 10px 20px 60px 20px;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .welcome {
    font-size: 4.5rem;
    margin-top: 4vh;
  }
  @keyframes slide-down {
    from { margin-top: -18vh; }
    to   { margin-top: 4vh; }
  }
  .toPortfolio {
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 30px;
    margin-right: 30px;
  }
  .circles {
    margin-top: 15vh;
  }
  .circle {
    height: 36px;
    width: 36px;
    margin: 3px;
    box-shadow: 0px 4px 6px #888888;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.1rem;
    margin: 6px 0 24px 0;
  }
  #bio p {
    padding-left: 10px;
    padding-right: 10px;
  }
  #skills li {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .toolList {
    margin-left: 8vw;
  }
  .project {
    margin: 60px 0;
    padding: 0 12px;
  }
  .galleryPic {
    max-height: 200px;
    border-radius: 3px;
    float: right;
    margin-left: 6px;
    margin-bottom: 6px;
  }
  
  .contactList {
    padding-left: 30px;
  }
  .fun {
    margin-top: 90px;
    font-size: 2.9rem;
  }
  .spin {
    padding: 0 0.5vw;
  }
}

@media only screen and (min-width: 600px) {
  .columnA {
    margin-left: auto;
    margin-right: auto;
  }
  .welcome {
    font-size: 5rem;
    margin-top: 9vh;
  }
  @keyframes slide-down {
    from { margin-top: -18vh; }
    to   { margin-top: 9vh; }
  }
  .headline {
    padding-left: 5%;
    padding-right: 5%;
  }
  .headline h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .nav li {
    margin: 0;
    padding: 6px 3%;
    font-size: 1.2rem;
  } 
  .contactList {
    padding-left: 39px;
  }
  .spin {
    padding: 0 .7vw;
  }


}

@media only screen and (min-width: 840px) {
  .row {
    overflow-y: hidden;
    margin-top: 0;
    padding-top: 30px;
  }
  .columnA {
    overflow: auto;
    max-width: 525px;
  }
  .columnB {
    padding-top: 21px;
    border-left: 2px solid rgb(156, 156, 156);
    overflow-y: scroll;
  }
  .headline {
    padding: 0;
  }
  .headline h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }  
  #mainNav {
    padding: 0;
    margin: 15px 24px;
    border-bottom: 1px solid grey;
  }
  .nav li {
    display: block;
    border-bottom: 0px solid white;
  }

  #welcome,
  #bio,
  #skills,
  #gallery,
  #connect {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .welcome {
    font-size: 5rem;
    margin-top: 12vh;
  }
  @keyframes slide-down {
    from { margin-top: -18vh; }
    to   { margin-top: 12vh; }
  }

  .nav li {
    padding: 12px 0;
    font-size: 1.4rem;
  }
  #bio p {
    padding-left: 12px;
    padding-right: 12px;
  }
  .toolList {
    margin-left: 5vw;
  }  
  #skills li {
    font-size: 1.4rem;
  }  
  .project {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .contactList p {
    font-size: 1.2rem;
  }
  .spin {
    padding: 0 .2vw;
  }
}

@media only screen and (min-width: 950px) {
  .row {
    overflow-y:hidden;
  }
  .columnA {
    overflow: hidden;
  }
  .columnB {
    overflow-y: scroll;
  }
  .welcome {
    font-size: 6rem;
  }
  .nav {
    margin-top: 12px;
  }
  .nav li {
    padding: 12px 0;
  } 
  #bio p {
    padding-left: 40px;
    padding-right: 40px;
  } 
  .spin {
    padding: 0 .5vw;
  }
}